<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="首页+${session.get('username')}">首页</title>
    <script type="text/javascript" src="../lib/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <script type="text/javascript" src="../lib/js/bootstrap.min.js"></script>
</head>
<script></script>
<style>

</style>
<body>
<a  href="/user/userInfo" th:text="用户+${session.get('username')}">用户</a>
<div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="10"><input type="checkbox" name="" value=""></th>
            <th width="30">书名</th>
            <th width="50">封面</th>
            <th width="25">作者</th>
            <th width="80">种类</th>
            <th width="40">最后更新时间</th>
        </tr>
        </thead>
        <tbody id="bookLists"></tbody>
    </table>
</div>

<nav id="pageNum" aria-label="Page navigation">
    <ul class="pagination">
        <li id="indexPage"><a href="#">首页</a></li>
        <li>
            <a id="previous" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li id="page1"></li>
        <li id="page2"></li>
        <li id="page3" class="active"></li>
        <li id="page4"></li>
        <li id="page5"></li>
        <li>
            <a id="next" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li id="lastPage"><a href="#">末页</a></li>
    </ul>
</nav>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        to_page(1);
    });
    function to_page(pn) {
        $.ajax({
            url : "/book/bookLists",
            data : {
                pageNum:pn,
                pageSize:2
            },
            type : "GET",
            success : function(result) {
                //console.log(result);
                showBookList(result);
                buildPage(result);
            }
        })

    }
    function showBookList(data) {
        let obj = eval(data);
        let list = obj["bookLists"];
        $("#bookLists").empty();
        $.each(list, function (key, values) {
            let str = '/book/bookInfo?bookId=' + values["id"];
            $("#bookLists").append(
                "<tr><td><input type=\"checkbox\" name=\"\" value=\"\"></th>"
                +"<td><a href="+str+">"+values["name"]+"</ta></td>"
                +"<td><a href='#'>"+values["imageUrl"]+"</ta></td>"
                +"<td>"+values["author"]+"</td>"
                +"<td>"+values["category"]+"</td>"
                +"<td>"+values["updateTime"]+"</td></tr>"
            );
        });
    }
    function buildPage(data) {
        let obj = eval(data);
        let pageCount = obj["pageCount"];
        let pageNum = obj["pageNum"];
        let indexPage = $("#indexPage");
        let lastPage = $("#lastPage");
        let previous = $("#previous");
        let next = $("#next");
        indexPage.unbind('click').click(function () {
            to_page(1);
        });
        lastPage.unbind('click').click(function () {
            to_page(pageCount);
        });
        if (pageNum-1<1){
            previous.hide();
        }else {
            previous.show();
            previous.unbind('click').click(function () {
                to_page(pageNum-1);
            });
        }
        if (pageNum+1>pageCount){
            next.hide();
        }else {
            next.show();
            next.unbind('click').click(function () {
                to_page(pageNum+1);
            });
        }
        for (let i = 1; i <= 5; i++){
            let page = $("#page"+i);
            page.empty();
            if (pageNum-3+i > pageCount || pageNum-3+i < 1){
                page.hide();
            }else{
                page.show();
                page.append($("<a></a>").append(pageNum-3+i).attr("href", "#"));
                page.unbind('click').click(function () {
                    to_page(pageNum-3+i);
                });
            }
        }
    }
</script>
</body>
</html>