<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title th:text="首页+${session.get('user')}">首页</title>
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
    <script type="text/javascript" src="../lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../lib/js/jquery-3.4.1.min.js"></script>
</head>
<script></script>
<style>

</style>
<body>
<div class="mt-20">
    <table class="table table-border table-bordered table-hover table-bg table-sort">
        <thead>
        <tr class="text-c">
            <th width="10"><input type="checkbox" name="" value=""></th>
            <th width="30">书名</th>
            <th width="50">封面</th>
            <th width="25">作者</th>
            <th width="80">种类</th>
            <th width="40">最后更新时间</th>
        </tr>
        </thead>
    </table>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
<script type="text/javascript" th:inline="javascript">
    $(function () {
        $.ajax({
            type: "get",
            url: "/book/bookLists",
            data: {},
            success: function(data){
                var tbody = document.createElement("tbody");
                var obj = eval(data);
                $('#bookLists').append(obj);
            }
        })
    });
</script>
</body>
</html>