<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="../lib/css/login.css">
    <script type="text/javascript" src="../lib/js/jquery-3.4.1.min.js"></script>

</head>


<body>

<div class="login">
    <h1>Login</h1>
    <form action="/login.action" method="post">
        <label>
            <input id="username" type="text" name="username" placeholder="用户名" required="required" th:value="${username}"/>
        </label>
        <label>
            <input id="password" type="password" name="password" placeholder="密码" required="required"/>
        </label>
        <label th:if="${msg} ne null" th:text="${msg}"></label>
        <button type="submit" id="login" class="btn btn-primary btn-block btn-large">登录</button>
    </form>
</div>

</body>

</html>